<div class="col-md-12">
  <h2 class="text-center">我的单项工程</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <td>Status</td>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.title %></td>
          <td><%= project.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
