<div class="jumbotron">
  <h1 class="title">建设工程信息管理平台</h1>
  <p class="slogan">注册账号，选定角色，发布信息
  <br>
  生产者，传播者
  <br>
	管理者发布信息，生产者发布产品
  <br>
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs/new">My Projects</a></p>
</div>
<p class="lead"><a class="btn btn-lg btn-danger" href="/account/projects">My Projects</a></p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/account/contracts">My Contracts</a></p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/projects">Projects</a></p>
