<div class="col-md-12">
  <h2>通信录</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Linkman</td>
        <td>ContactNumber</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td>#</td>
          <td><%= company.title %></td>
          <td><%= company.linkman %></td>
          <td><%= company.contact_number %></td>
          <td><%= company.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
